<ngb-carousel>
  <ng-template ngbSlide>
    <img src="/app/content/images/home/carousel-6.jpg" alt="Random first slide" style="height: 100vh;width: 100%;">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/app/content/images/home/carousel-8.jpg" alt="Random second slide" style="height: 100vh;width: 100%;">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/app/content/images/home/carousel-7.jpg" alt="Random third slide" style="height: 100vh;width: 100%;">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
