.circle-phone{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.circle-phone-inner{
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.8;
    background-color:#ff7a00;
    display: none;
}

.fa-phone-color{
    color: #ff7a00;
}

.circle-phone:hover .circle-phone-inner {
    display: inline-flex;
    /*align-items: center*/
}

.circle-phone:hover .fa-phone-color{
    color: #fff;
}

